@media(max-width: 1199px) {
    .container {
        max-width: 952px;
    }

    .logo {
        width: 260px;

        &__text {
            font-size: 20px;
        }
    }

    .promo {
        &__logos {
            img {
                width: 175px;
            }
        }
    }

    .apply {
        &__wrapper {
            left: 46%;
        }
    }

    .cards {
        &__wrapper {
            grid-template-columns: repeat(2, auto);
        }
    }
}

@media(max-width: 991px) {
    .container {
        max-width: 728px;
    }

    .logo {
        width: 45px;

        &__text {
            display: none;
        }
    }

    .promo {
        &__img {
            transform: translateX(33%);
        }

        &__logos {
            margin-top: 150px;

            img {
                width: 150px;
            }
        }
    }

    .apply {

        background-position: -175px;

        &__wrapper {
            left: 32%;
        }
    }

    .cards {
        &__item {
            width: 300px;
        }
    }
}

@media(max-width: 767px) {
    .container {
        max-width: 528px;
    }

    .burger {
        display: flex;
    }

    .logo {
        display: none;
    }

    nav {
        display: none;
    }

    .header {
        justify-content: flex-end;
    }

    .promo {
        background-position: 370px;

        &__main {
            width: 528px;
            margin-top: 50px;
        }

        &__header {
            font-size: 45px;
            line-height: 55px;
        }

        &__logos {
            flex-wrap: wrap;
            justify-content: space-around;

            img {
                width: 200px;
                margin-top: 10px;
            }
        }

        &__img {
            transform: translateX(62%);
        }
    }

    .apply {
        min-height: 670px;
        background-position: 175px;

        &__wrapper {
            left: 10%;
        }
    }

    .cards {
        padding-top: 100px;

        &__wrapper {
            grid-template-columns: repeat(1, auto);
        }

        &__item {
            width: 362px;
            ;
        }
    }
}

@media(max-width: 575px) {
    .container {
        max-width: 300px;
    }

    .header {
        height: 75px;

        &__container {
            padding-right: 10px;
            max-width: 575px;
        }
    }

    .burger {
        top: 30px;
        left: 30px;

        span {
            height: 4px;
            width: 35px;
            margin-top: 4px;
        }
    }

    .promo {
        padding: 50px 0 10px 0;
        background-position: -40%;

        &__main {
            width: 100%;
            margin-top: 15px;
        }

        &__header {
            font-size: 25px;
            line-height: 35px;
        }

        &__subheader {
            font-size: 16px;
        }

        &__text {
            margin-top: 20px;
            font-size: 18px;
            line-height: 22px;
        }

        &__btns {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 35px;
        }

        &__start-btn {
            margin: 0 0 10px 0;
        }

        &__logos {
            margin-top: 50px;
        }
    }

    .apply {
        min-height: 460px;
        background-position: 80px;

        &__wrapper {
            width: 300px;
            left: 5%;
        }

        &__header {
            font-size: 28px;
        }

        &__text {
            font-size: 14px;
        }
    }

    .cards {
        &__item {
            width: 300px;
        }
    }
}